<h1>Homework</h1>
<p></p>
<h2>PCH18</h2>
<h3>Laptop and Notebook Component Replacement(筆記本電腦和筆記本電腦組件更換)</h3>
<p><span style="background-color: #ffffff; color: #ff0000;"><strong>Overview(概觀)</strong></span></p>
<p><strong><span style="background-color: #ffffff;">In this module, we will discuss the types of hard drives used in laptop computers, as well as how to replace or upgrade them. We will also discuss the types of memory used in laptop and notebook computers, and the difference between upgrading laptop or notebook memory and upgrading memory in a standard desktop computer. Lastly, we will discuss the types of hard drive failure you may experience with a notebook computer and the best way to identify the failure and repair it properly.</span></strong></p>
<p><span style="background-color: #ffffff;">在本模塊中，我們將討論膝上型計算機中使用的硬盤驅動器類型，以及如何更換或升級它們。 我們還將討論筆記本電腦和筆記本電腦中使用的內存類型，以及升級筆記本電腦或筆記本電腦的內存與升級標準台式計算機中的內存之間的區別。 最後，我們將討論筆記本計算機可能遇到的硬盤故障類型，以及識別故障並正確修復的最佳方法。</span></p>
<p><span style="color: #ff0000;"><strong>Notebook Hard Drives(筆記型硬盤)</strong></span></p>
<p><strong><span style="color: #000000;">Laptop storage has evolved over the years from using traditional HDDs, which are very large and require a lot of power, to using smaller and smaller variants.</span></strong></p>
<p><span style="color: #000000;">多年來，筆記本電腦的存儲已經從使用非常大且需要大量電能的傳統硬盤驅動器發展到使用越來越小的變體。</span></p>
<p><strong><span style="color: #000000;">Similar to the desktop, older generation laptops used IDE/PATA, but current technology uses SATA connectors, or in the case of mSATA directly plugs into a port on the motherboard.</span></strong></p>
<p><span style="color: #000000;">與台式機類似，較早的筆記本電腦使用的是IDE / PATA，但當前的技術使用的是SATA連接器，或者在mSATA的情況下直接插入主板上的端</span></p>
<p><strong><span style="color: #000000;">Whereas traditional desktop computers use a 3.5-inch HDD, laptops typically use a 2.5-inch hard drive. These drives contain capacity speeds comparable to their larger counterparts. Smaller notebooks might use an even smaller variant that is only 1.8 inches in diameter. These drives often operate at similar speeds to their larger counterparts, but may lack the same capacity for storage. These HDDs make use of a spinning disk with magnetic storage design.</span></strong></p>
<p>傳統台式機使用3.5英寸HDD，而筆記本電腦通常使用2.5英寸硬盤。 這些驅動器的容量速度可與大型驅動器媲美。 較小的筆記本可能會使用直徑更小的變體，直徑僅為1.8英寸。 這些驅動器通常以與較大驅動器相似的速度運行，但可能缺少相同的存儲容量。 這些硬盤使用具有磁存儲設計的旋轉磁盤。</p>
<p><strong><span style="color: #000000;">Current laptops, especially netbooks and other laptops that require thinner, lighter, and faster storage options, use solid-state disks (SSDs) following the 2.5, 1.8, or mSata form factor. Initially, manufacturers developed a hybrid disk combining an internal disk with a form of flash storage used to speed up access times. These were faster than traditional HDDs and much less expensive than a full SSD at the time.</span></strong></p>
<p>當前的筆記本電腦，尤其是上網本和其他需要更薄，更輕和更快存儲選項的筆記本電腦，使用的固態硬盤（SSD）遵循2.5、1.8或mSata尺寸規格。 最初，製造商開發了一種混合磁盤，該磁盤將內部磁盤與用於加速訪問時間的閃存形式結合在一起。 它們比傳統的HDD更快，並且當時的價格比完整的SSD便宜得多。</p>
<p><strong><span style="color: #000000;">SSDs contain no actual disk or moving parts. They are highly resistant to shock and movement, and have low latency and high access speeds. The performance of SSDs is far superior to traditional spinning hard disk drives, and they use less power than traditional hard disks, as well, which makes them ideal for mobile applications such as laptops and notebooks. HDD manufacturers have improved the design of SSDs, making them more resilient to I/O writes and reads and less susceptible to the failure first generation SSDs could suffer from if not configured correctly.</span></strong></p>
<p>SSD不包含實際的磁盤或活動部件。 它們具有很高的抗衝擊和移動性，並具有低延遲和高訪問速度。 SSD的性能遠遠優於傳統的旋轉式硬盤驅動器，並且比傳統的硬盤耗電少，這使其成為筆記本電腦和筆記本電腦等移動應用程序的理想選擇。 HDD製造商已經改進了SSD的設計，使其對I / O寫入和讀取的彈性更大，並且如果配置不正確，第一代SSD可能會遭受的故障影響較小。</p>
<p><strong><span style="color: #000000;">In addition to traditional SATA or mSATA SSDs, many laptop manufacturers have chosen to incorporate embedded multi-media cards (eMMCs) in smaller 2-in-1 laptops, Chromebooks, or tablets that are designed with a detachable keyboard. eMMCs have faster access times than traditional HDDs, but are slower than an SSD. As the name implies, this storage device is an integrated circuit (IC) chip located on the motherboard. Currently, eMMCs most often come in either 16 GB, 32 GB or 64 GB capacity. Manufacturers most often include a micro secure digital (MicroSD) card reader and USB port to allow for external storage.</span></strong></p>
<p>除了傳統的SATA或mSATA SSD之外，許多筆記本電腦製造商還選擇將嵌入式多媒體卡（eMMC）集成到較小的2合1筆記本電腦，Chromebook或配有可拆卸鍵盤的平板電腦中。 eMMC的訪問時間比傳統HDD快，但比SSD慢。 顧名思義，此存儲設備是位於主板上的集成電路（IC）芯片。 當前，eMMC最通常具有16 GB，32 GB或64 GB的容量。 製造商最經常使用的是微型安全數字（MicroSD）讀卡器和USB端口，用於外部存儲。</p>
<p><strong><span style="color: #000000;">Laptop hard drives and SSDs are generally upgradable and replaceable, but the “internal storage” label for eMMC is not.</span></strong></p>
<p>筆記本電腦硬盤和固態硬盤通常可以升級和更換，但是eMMC的“內部存儲”標籤卻不是。</p>
<p><span style="color: #ff0000;"><strong><span style="color: #000000;">With HDDs and SSDs being standard form factors (2.5-inch or 1.8-inch varieties), they can easily be removed and replaced with a larger capacity or higher speed version as long as the new drive matches in physical size and connection type (SATA or mSATA). To replace a hard drive, the technician simply removes the drive in accordance with the manufacturer’s instructions. It is always important to check with the laptop manufacturer’s instructions on the best way to remove the drive. Some models have a direct access area from the bottom of the laptop, while others require full disassembly of the machine, including the keyboard and casing.</span><br/></strong></span></p>
<p>HDD和SSD是標準尺寸（2.5英寸或1.8英寸），只要新驅動器的物理尺寸和連接類型（SATA或SATA）相匹配，就可以輕鬆地將它們卸下並替換為更大容量或更高速的版本。 mSATA）。 要更換硬盤驅動器，技術人員只需按照製造商的說明卸下驅動器。 請務必與筆記本電腦製造商的說明一起查看拆卸驅動器的最佳方法。 一些型號從筆記本電腦的底部可以直接進入區域，而其他一些型號則需要完全拆卸機器，包括鍵盤和機殼。</p>
<p><span class="image"><img alt="Photograph of two laptop hard drives. Both are rectangular, but the drive on the right is slightly larger and has a black plastic extension toward the top. There are labels with writing and bar codes on each drive." class="popimg" id="_i_0" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH18/webcontent/PCH18/image1.jpeg" title="Photograph of two laptop hard drives. Both are rectangular, but the drive on the right is slightly larger and has a black plastic extension toward the top. There are labels with writing and bar codes on each drive."/></span><span class="caption" lang=""></span></p>
<p id="N106C4" lang=""><strong>Laptop hard drives. Photo used under CC-BY license from Ray Dehler.</strong></p>
<p lang="">筆記本電腦硬盤。由Ray Dehler根據CC-BY許可使用的照片。</p>
<p lang=""><span class="image"><img alt="Photograph of an SSD. It is a thin silver rectangle with Intel’s logo on the top. On one end, there is a black plastic slot." class="popimg" id="_i_2" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH18/webcontent/PCH18/image2.jpeg" title="Photograph of an SSD. It is a thin silver rectangle with Intel’s logo on the top. On one end, there is a black plastic slot."/></span><span class="caption" lang=""></span></p>
<p id="N106D3" lang=""><strong>SSD. Photo used under CC-BY license from Intel.</strong></p>
<p lang="">SSD。照片經英特爾CC-BY許可使用。</p>
<p lang=""><strong><span style="color: #ff0000;">Memory</span></strong></p>
<p lang=""><span style="color: #000000;"><strong><span>Laptops use memory modules similar to their larger desktop counterparts. In desktops, DDR, DDR2, and DDR3 RAM modules are used to upgrade our systems, based upon the memory slots provided by the motherboard, and the speed and size accepted by the motherboard. Laptops, similarly, require the proper size and speed modules for their motherboards. Therefore, it is important to check the manufacturer’s manual for a laptop. Laptop memory also comes in DDR, DDR2, and DDR3 varieties, but laptops use the SODIMM (small outline dual in-line memory module) form factor. These are much smaller, more compact versions of the standard DDR, DDR2, and DDR3 modules, but they operate at the same speed and capacity as the larger versions.</span></strong></span></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span lang="zh-TW">筆記本電腦使用的內存模塊與大型台式機相似。在台式機中，DDR，DDR2和DDR3 RAM模塊用於根據主板提供<br/>的內存插槽以及主板可接受的速度和大小來升級我們的系統。類似地，筆記本電腦需要適合其主板的尺寸和<br/>速度模塊。因此，請務必查看筆記本電腦的製造商手冊。筆記本電腦內存還提供DDR，DDR2和DDR3多種類型<br/>，但筆記本電腦使用SODIMM（小尺寸雙列直插式內存模塊）尺寸。這些是標準DDR，DDR2和DDR3模塊的更小<br/>，更緊湊的版本，但是它們以與較大版本相同的速度和容量運行。<br/><span class="image"><img alt="Photograph of the bottom of a laptop with an opening in which a rectangular, green SODIMM card is located." class="popimg" id="_i_4" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH18/webcontent/PCH18/image3.png" title="Photograph of the bottom of a laptop with an opening in which a rectangular, green SODIMM card is located."/></span><span class="caption" lang=""></span></span></pre>
<p id="N106EF" lang=""><strong>SODIMM in a laptop. Photo used under CC-BY-NC license from Ben willams.</strong></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span lang="zh-TW">筆記本電腦中的SODIMM。本圖片由Ben Willams根據CC-BY-NC許可使用。<br/></span></pre>
<p id="N106F8" lang=""><strong>Replacing and upgrading memory is a fairly simply process, similar to replacing memory in a desktop machine. First, remove the power by shutting down the laptop, removing the power cord, and (if possible) removing the battery from the laptop. Next, replace the existing memory module, or add a second one, if applicable. Some laptops, like the one shown above, have a small plastic door covering the memory slots for easy access. Others may require full disassembly to access the memory slots. In a desktop computer, the modules are inserted at a straight-up-and-down vertical angle (90 degrees), but with laptops, the modules are inserted at a 45-degree angle first. Then the modules are pushed down into place once they are fully inserted into the memory slot. This is required due to the space limitations in the laptop.</strong></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">更換和升級內存是一個相當簡單的過程，類似於在台式機中更換內存。首先，請關閉筆記本電腦，拔下電源<br/>線，並（如果可能）從筆記本電腦中取出電池，以斷開電源。接下來，更換現有的內存模塊，或添加第二個<br/>內存模塊（如果適用）。某些筆記本電腦，如上圖所示，有一個小的塑料門蓋住內存插槽，以便於使用。其<br/>他可能需要完全拆卸才能訪問內存插槽。在台式計算機中，模塊以垂直向上和向下的垂直角度（90度）插入<br/>，但在筆記本電腦中，模塊首先以45度角插入。將模塊完全插入內存插槽後，將其向下推入到位。由於筆記<br/>本電腦的空間限制，這是必需的。一些筆記本電腦只有一個內存插槽，而其他筆記本電腦有兩個插槽。一些<br/>筆記本電腦的內存可能焊接在主板上，因此無法升級或刪除內存。請始終查看筆記本電腦的手冊，以獲取有<br/>關筆記本電腦可以容納多少個模塊（如果有），可以容納多少GB以及模塊速度的詳細信息。例如，在下面的<br/>下圖中，我們看到一個2 GB DDR2內存模塊，其工作頻率為6400 MBps或800 MHz。<br/></span></pre>
<p lang=""><strong>Some laptops have a single memory slot, while others have two slots. Some laptops may have their memory soldered onto the motherboard, making upgrading or removing the memory impossible. Always check your laptop’s manual for details on how many modules your laptop will accept (if any), how many gigabytes they can be, and the speed of the modules. For example, in the bottom image below, we see a 2 GB DDR2 memory module that operates at 6400 MBps, or 800 MHz.</strong></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span lang="zh-TW">一些筆記本電腦只有一個內存插槽，而其他筆記本電腦有兩個插槽。有些筆記本電腦的內存可能焊接在主板<br/>上，因此無法升級或刪除內存。請始終查看筆記本電腦的手冊，以獲取有關筆記本電腦可以容納多少個模塊<br/>（如果有），可以容納多少GB以及模塊速度的詳細信息。例如，在下面的下圖中，我們看到一個2 GB DDR2<br/>內存模塊，其工作頻率為6400 MBps或800 MHz。<br/><span class="image"><img alt="Photograph of a 2 GB DDR2 memory module. It is a rectangular green card with a label on it. The label has the card specifications and bar codes on it. There are gold pins extending from one side of the card." class="popimg" id="_i_6" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH18/webcontent/PCH18/image4.png" title="Photograph of a 2 GB DDR2 memory module. It is a rectangular green card with a label on it. The label has the card specifications and bar codes on it. There are gold pins extending from one side of the card."/></span><span class="caption" lang=""></span></span></pre>
<p id="N10704" lang=""><strong>2 GB DDR2 memory module. Photo used under CC-BY-SA license from Cheon Fong Liew.</strong></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">2 GB DDR2內存模塊。天鳳六照根據CC-BY-SA許可使用的照片。</span></pre>
<h3>Troubleshooting Hard Drives(硬盤驅動器故障排除)</h3>
<p><strong>Hard drive failures are fairly uncommon occurrences for computers overall, but in laptops they have a higher occurrence rate than in desktops. Usually, this occurs when something jars the laptop while the hard disk is working. Another cause of hard drive failure is an overheated hard drive. The hard drive, like other devices in the computer, requires adequate cooling to ensure proper operation. If the hard drive overheats, you need to check to see if the laptop is receiving adequate cooling. You can do this by making sure the air intake and fans are working properly and are not filled with dust.</strong></p>
<p>硬盤故障在整個計算機上很少發生，但在筆記本電腦中，其發生率要高於台式機。 通常，當硬盤工作時筆記本電腦受到震動時，會發生這種情況。 硬盤驅動器故障的另一個原因是硬盤驅動器過熱。 與計算機中的其他設備一樣，硬盤驅動器也需要充分冷卻以確保正常運行。 如果硬盤驅動器過熱，則需要檢查筆記本電腦是否受到足夠的冷卻。 您可以通過確保進氣口和風扇正常工作並且沒有灰塵的方式來執行此操作。</p>
<p><strong>Mechanical failures and defects are another possible cause of hard drive failure in laptops and notebooks. Bad sectors in the hard disk, the motor’s failure to perform rotation, power supply issues, and many other issues can cause hard drive failures. An old hard disk may create problems, or mechanical failure can occur if you have formatted the hard disk too many times. Normally, you can hear a mechanical failure — there may be a clicking sound coming from the disk, or you will hear the disk fail to “spin up” when powered on.</strong></p>
<p>機械故障和缺陷是筆記本電腦和筆記本電腦中硬盤驅動器出現故障的另一個可能原因。 硬盤中的壞扇區，電機無法旋轉，電源問題以及許多其他問題都可能導致硬盤驅動器故障。 舊的硬盤可能會造成問題，或者如果您對硬盤進行了過多的格式化，則可能會導致機械故障。 通常，您會聽到機械故障的聲音-磁盤可能會發出喀嗒聲，或者您會在通電後聽到磁槃無法“旋轉”的聲音。</p>
<p><strong>Other issues with hard drives include data becoming corrupted or invalid due to virus infection or attacks, abnormal system shutdown, accidental cancellation of a running program, frequent power failure, and many other causes. These are not issues solely in laptops; these problems can occur with both laptop and desktop models.</strong></p>
<p>硬盤驅動器的其他問題包括由於病毒感染或攻擊，異常的系統關閉，意外取消正在運行的程序，頻繁的電源故障以及許多其他原因而導致數據損壞或無效。 這些不僅僅是筆記本電腦的問題； 筆記本電腦和台式機型號都可能出現這些問題。</p>
<p><strong>To determine if a laptop hard drive has failed, you must follow a logical troubleshooting methodology. First, attempt to boot up the computer. If you cannot see the display working, then listen for the hard disk. Did you hear it “spin up” when you powered on the machine? If not, it is likely a laptop power issue and not a hard drive issue. Check the battery and the AC adapter to ensure the laptop is receiving power.</strong></p>
<p>要確定筆記本電腦硬盤驅動器是否發生故障，您必須遵循邏輯上的故障排除方法。 首先，嘗試啟動計算機。 如果看不到顯示屏，請收聽硬盤。 打開機器電源時，您是否聽到過它“旋轉”的聲音？ 如果不是，則很可能是筆記本電腦電源問題，而不是硬盤驅動器問題。 檢查電池和交流適配器，以確保膝上型計算機已接通電源。</p>
<p><strong>If the laptop display did turn on, then you need to see if the operating system boots. If it does not boot, it could be a data corruption issue or a hard drive failure. First, try booting the laptop from the AC adapter instead of the battery. Did that work? If so, it may be that the battery isn’t providing enough power to spin the hard drive properly. If that does not work, next, check the BIOS to see if the hard drive is being recognized. If the drive is not recognized in the BIOS, check the physical connections (power and data cables, like IDE/PATA and SATA). If the hard drive is recognized in the BIOS, but the operating system does not boot, it could be that the data on the drive has become corrupted; therefore, the operating system may need to be reinstalled and the user data may need to be restored from backup.</strong></p>
<p>如果筆記本電腦顯示屏確實打開了，那麼您需要查看操作系統是否啟動。 如果無法啟動，則可能是數據損壞問題或硬盤故障。 首先，嘗試從交流適配器而不是電池引導筆記本電腦。 那行嗎？ 如果是這樣，則可能是電池電量不足，無法正確旋轉硬盤驅動器。 如果那不起作用，則接下來，檢查BIOS以查看硬盤驅動器是否被識別。 如果在BIOS中無法識別驅動器，請檢查物理連接（電源和數據電纜，例如IDE / PATA和SATA）。 如果在BIOS中識別到硬盤驅動器，但操作系統無法引導，則可能是驅動器上的數據已損壞；否則，可能是驅動器上的數據已損壞。 因此，可能需要重新安裝操作系統，並且可能需要從備份中還原用戶數據。</p>
<p><strong>If the drive isn’t recognized by the BIOS or loading the operating system, you may have a hard drive failure. Listen to the hard drive; do you hear a mechanical clicking sound? If you do, your hard drive is likely failing and should be replaced as soon as possible. If you do not hear any clicking noises, there might be bad sectors on the disk, so perform disk maintenance procedures, such as “check disk” (CHKDSK) or “disk defragmentation” (DISK DEFRAG).</strong></p>
<p>如果BIOS無法識別驅動器或無法加載操作系統，則可能是硬盤驅動器出現故障。 聽硬盤驅動器； 您聽到機械的喀噠聲嗎？ 如果這樣做，您的硬盤驅動器可能會發生故障，應盡快更換。 如果沒有聽到任何咔嗒聲，則表明磁盤上可能存在壞扇區，因此請執行磁盤維護過程，例如“檢查磁盤”（CHKDSK）或“磁盤碎片整理”（DISK DEFRAG）。</p>
<h2>PCH19</h2>
<h3><span>Overview(總覽)</span></h3>
<p><strong>In this module on notebooks, we will discuss the various types of batteries used in notebook and laptop computers, along with battery construction, battery care, and various power level indicators. We will also discuss the variety of power sources a notebook has access to, including its battery, AC adapter, and docking stations. Next, we will discuss the proper disposal procedures that should be used when someone upgrades or breaks their notebook. Finally, we will discuss the physical security of notebooks. We will look at the construction of these devices, as well as the proper installation of the security cable and how it is connected to the notebook.</strong></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">在筆記本電腦上的該模塊中，我們將討論筆記本電腦和筆記本電腦中使用的各種類型的電池，以及電池結構<br/>，電池維護和各種電量指示器。我們還將討論筆記本電腦可以使用的各種電源，包括電池，AC適配器和擴展<br/>塢。接下來，我們將討論當某人升級或損壞筆記本時應該使用的正確處置程序。最後，我們將討論筆記本的<br/>物理安全性。我們將研究這些設備的結構，安全電纜的正確安裝以及如何將其連接到筆記本計算機。</span></pre>
<p><span style="color: #ff0000;"><strong>Battery types(電池類型)</strong></span></p>
<p><span style="color: #000000;"><strong><span>Laptops and notebooks can receive power from several different types of batteries. The batteries are used to provide direct current (DC) to your notebook, and the batteries are then recharged by the alternating current (AC) adapter that connects your notebook to the wall outlet. The AC adapter actually works as a transformer, converting the wall outlet’s high-voltage AC into low-voltage DC that your notebook uses to charge its battery.</span></strong></span></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">筆記本電腦和筆記本電腦可以通過幾種不同類型的電池供電。電池用於為筆記本計算機提供直流（DC），然<br/>後通過將筆記本計算機連接至牆上插座的交流（AC）適配器為電池充電。交流適配器實際上起著變壓器的作<br/>用，將壁裝電源插座的高壓AC轉換為筆記本計算機用來為電池充電的低壓DC。</span></pre>
<p><span style="color: #000000;"><strong><span class="image"><img alt="Photograph of a battery with half its case removed. The battery cells are exposed. Each cell is a small green cylinder. They are lined up side by side. The edge of the bottom portion of the case has a circuit board and a grey connector." class="popimg" id="_i_0" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH19/webcontent/PCH19/image1.png" title="Photograph of a battery with half its case removed. The battery cells are exposed. Each cell is a small green cylinder. They are lined up side by side. The edge of the bottom portion of the case has a circuit board and a grey connector."/></span><span class="caption" lang=""></span></strong></span></p>
<p id="N10686" lang=""><strong>Battery cells. Photo used under CC-BY-SA license from Uwe Hermann.</strong></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">電池芯。 Uwe Hermann根據CC-BY-SA許可使用的照片。</span></pre>
<p lang=""><strong>The notebook battery is an enclosed plastic casing with individual battery cells on the inside, as shown in the images above. Older notebooks used either nickel-cadmium (NiCd or NiCad) or nickel-metal hydride (NiMH) batteries. These types of batteries are seldom used in modern notebooks and laptops because they suffered from what is termed the “memory effect.” Basically, the “memory effect” occurs when a battery loses its capacity to fully recharge if it is discharged repeatedly the same amount and then recharged without being fully drained first. For example, if every time your notebook battery’s charge was at 20 percent you went and recharged it, then 20 percent charge would become the new zero for your battery, reducing the overall charge available to only 80 percent of the original capacity.</strong></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">筆記本電池是一個封閉的塑料外殼，內部裝有單個電池，如上圖所示。較舊的筆記本電腦使用鎳鎘<br/>（NiCd或NiCad）或鎳氫（NiMH）電池。這些類型的電池很少用於現代筆記本電腦和筆記本電腦，因為它們<br/>遭受了所謂的“記憶效應”。基本上，如果反复放電相同量的電池而失去其完全充電的能力，則發生“記憶效應<br/>”，然後先充電而又沒有完全耗盡。例如，如果您每次筆記本電池的電量為20％時都要去充電，那麼20％的<br/>電量將成為電池的新零，從而將總可用電量減少到原始容量的80％。</span></pre>
<p lang=""><strong><span>Both of these battery types were replaced with lithium-ion batteries. The lithium-ion batteries do not suffer from the memory effect issue. They perform better than other types of batteries, and are lighter in weight, which increases a notebook’s mobility. Lithium-ion batteries also feature a rapid-charging option that allows faster charging when the user is in a hurry. These batteries are more environmentally friendly than the previous types, as well.</span></strong></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">這兩種電池都被鋰離子電池取代。鋰離子電池不會出現記憶效應問題。它們的性能比其他類型的電池更好，<br/>並且重量更輕，從而增加了筆記本的移動性。鋰離子電池還具有快速充電選項，當用戶急忙時可以更快地充<br/>電。這些電池也比以前的電池更環保。</span></pre>
<p lang=""><strong><span>To best care for your notebook or laptop, always use the approved battery type for your model. Using unapproved batteries in your notebook can lead to the notebook catching fire or exploding. In order to maintain notebook batteries at peak operating efficiency, keep the batteries at room temperature and avoid heat. If your notebook has a full charge and is subjected to high temperatures, the longevity of your battery will decrease. Batteries deteriorate over time, so purchase one with the most recent manufacturing date for the longest life. Also, getting a higher-capacity battery will provide a longer battery life on a given charge. Since lithium-ion batteries do not have a memory effect, it is often better to use partial-discharge cycles for notebooks and laptops that use those batteries. Note, while there is no memory effect, some lithium-ion batteries suffer from a “digital memory” that decreases the accuracy of the power gauge. To recalibrate the power gauge, you need to fully discharge the battery routinely, such as every few months, then completely recharge it. Lastly, if you are planning on storing your notebook for a while, it is best to discharge the battery to about 50 percent first, then store it in a cool, dry place. This will prolong the life of the battery and prevent you from having to waste money on a replacement.</span></strong></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">為了最好地保護筆記本電腦或筆記本電腦，請始終為您的型號使用認可的電池類型。在筆記本計算機中使用<br/>未經許可的電池可能會導致筆記本計算機著火或爆炸。為了使筆記本電池保持最高工作效率，請將電池保持<br/>在室溫下並避免發熱。如果您的筆記本計算機充滿電並且處於高溫下，則電池的壽命會降低。電池會隨著時<br/>間的流逝而變質，因此請購買製造日期最近的電池以延長使用壽命。同樣，在給定的電量下，使用容量更大<br/>的電池將提供更長的電池壽命。由於鋰離子電池沒有記憶效應，因此對於使用這些電池的筆記本電腦和筆記<br/>本電腦，最好使用部分放電循環。請注意，雖然沒有記憶效應，但某些鋰離子電池會遭受“數字記憶”的困擾<br/>，這會降低功率計的精度。要重新校準功率計，您需要定期（例如每幾個月一次）對電池完全放電，然後將<br/>其完全充電。最後，如果您打算將筆記本電腦存放一段時間，則最好先將電池放電約50％，然後將其存放在<br/>陰涼乾燥的地方。這樣可以延長電池壽命，並避免您在更換電池時浪費金錢。</span></pre>
<p lang=""><strong><span>The amount of battery life is indicated in a number of ways in a notebook, depending on the computer model. All modern operating systems provide a digital gauge inside the operating system. This indication can be set by the user to show either the percentage of battery life remaining (such as 53 percent left), the time remaining until the battery runs out (such as 1 hour, 43 minutes to empty), or the time to full charge (such as 34 minutes to full charge). Some models of batteries, though, have a battery gauge included on the battery itself. This will use a scale, such as five circles that will light up to show the remaining life of the battery.</span></strong></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">根據筆記本計算機的型號，筆記本電腦可以通過多種方式指示電池壽命。所有現代操作系統都在操作系統內<br/>部提供數字儀表。用戶可以設置此指示以顯示剩餘電池壽命百分比（例如剩餘53％），直到電池用完的剩餘<br/>時間（例如1小時43分鐘用完）或充滿時間充電（例如充滿電需要34分鐘）。但是，某些型號的電池在電池<br/>本身中附帶一個電池電量計。這將使用一個刻度，例如五個圓圈，它將點亮以顯示電池的剩餘壽命。</span></pre>
<p lang=""><strong><span><span class="image"><img alt="Photograph of the bottom of a laptop. A person’s hand is visible and is removing the battery from the bottom of the laptop. The battery is black plastic and rectangular." class="popimg" id="_i_2" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH19/webcontent/PCH19/image2.png" title="Photograph of the bottom of a laptop. A person’s hand is visible and is removing the battery from the bottom of the laptop. The battery is black plastic and rectangular."/></span><span class="caption" lang=""></span></span></strong></p>
<p id="N106A1" lang=""><strong>Laptop battery. Photo used under CC-BY-SA license from Intel Free Press.</strong></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">筆記本電池。照片由Intel Free Press根據CC-BY-SA許可使用。</span></pre>
<h3><span>AC Power(交流電)</span></h3>
<p><strong>As previously stated, the battery is used to provide direct current to your notebook and the battery is then recharged by the AC adapter that connects your laptop to the wall outlet. While the battery directly powers the notebook’s components, much like a power supply in a desktop, the battery doesn’t perform any transformation of the power it receives or sends out. These functions are handled by the AC adapter. Many docking stations provide the ability to either use the regular AC adapter as their power source, or use a built-in AC adapter to perform the transformation of the power from AC to DC. If the laptop is using a docking station, it still uses the battery to provide power to the laptop, and the docking station to charge the laptop’s battery. A <a aria-describedby="N1067F" class="extra" id=""></a>port replicator , on the other hand, requires the AC adapter to perform the transformation for it.</strong></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">如前所述，電池用於為筆記本計算機提供直流電，然後通過將筆記本計算機連接至牆上插座的交流適配器為<br/>電池充電。儘管電池可以直接為筆記本計算機的組件供電，就像台式機中的電源一樣，但是電池不會對其接<br/>收或發出的電能進行任何轉換。這些功能由交流適配器處理。許多擴展塢都可以使用常規的AC適配器作為電<br/>源，也可以使用內置的AC適配器執行從AC到DC的電源轉換。如果筆記本電腦使用的是擴展塢，它仍會使用電<br/>池為筆記本電腦供電，而擴展塢則使用筆記本電腦的電池充電。另一方面，端口復制器需要AC適配器為其執<br/>行轉換。</span></pre>
<p><span></span><strong><span></span></strong><span class="image"></span><strong><span class="image"><img alt="Photograph of the rear of a docking station. The station is a flat rectangle with another rectangular protrusion. There are numerous ports on the back of the docking station, including USB, audio, Ethernet, VGA, and DVI." class="popimg" id="_i_0" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH19/webcontent/PCH19/image3.png" title="Photograph of the rear of a docking station. The station is a flat rectangle with another rectangular protrusion. There are numerous ports on the back of the docking station, including USB, audio, Ethernet, VGA, and DVI."/></span></strong></p>
<p id="N1068C" lang=""><strong>Docking station rear view. Photo used under CC-BY license from TolbXela.</strong></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">擴展塢後視圖。照片由TolbXela根據CC-BY許可使用。</span></pre>
<div class="opacity">
<div class="content shadowTwo" role="main">
<div class="contentContain">
<p id="N10695" lang=""><strong>Docking stations are used to add capabilities to a laptop and create a "desktop" experience. For example, in the image above, you can see that the docking station has numerous USB ports, a PS/2 port for keyboard/mouse, a modem port, Ethernet port, VGA and DVI display outputs, audio input and output ports, as well as serial and parallel connections. Some docking stations even have built-in hard drives and optical drives for additional storage. A port replicator, on the other hand, only provides the same ports that already exist on the laptop. This is used for quick connection and disconnection to the various external devices when the laptop is returned to the office environment.</strong></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">擴展塢用於向筆記本電腦添加功能並創建“桌面”體驗。例如，在上圖中，您可以看到擴展塢具有多個USB端<br/>口，一個用於鍵盤/鼠標的PS / 2端口，一個調製解調器端口，以太網端口，VGA和DVI顯示輸出，音頻輸入<br/>和輸出端口，如以及串行和並行連接。某些擴展塢甚至具有內置硬盤驅動器和光盤驅動器，用於額外存儲。<br/>另一方面，端口復制器僅提供筆記本電腦上已經存在的相同端口。當筆記本電腦返回辦公環境時，可用於快<br/>速連接和斷開與各種外部設備的連接。</span></pre>
</div>
</div>
</div>
<h3><span>Proper Disposal Procedures(正確的處置程序)</span></h3>
<p><strong>Rechargeable laptop batteries contain hazardous materials such as mercury, cadmium, and lead. Many states have laws governing the disposal of batteries containing toxic materials. Often disposing of them in the trash and sending them to a landfill is illegal. Recycling, sometimes referred to as eCycling in the case of computers and other electronics, reduces the amount of toxic elements entering the waste stream and is often the required or preferred disposal method. Recycling saves landfill space, conserves our natural resources, and reduces the amount of electronic waste generated by residents in the state. For example, according to the State of Maryland, eCycling reduces more than 150,000 tons of waste every year. Local regulations (state, county, or city) dictate the proper methods of disposing of the physical laptop and its components.</strong></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">筆記本電腦可充電電池包含有害物質，例如汞，鎘和鉛。許多州都有管理含毒物質電池處置的法律。通常，<br/>將它們丟棄在垃圾桶中並送到垃圾填埋場是非法的。回收，有時在計算機和其他電子設備中稱為“循環”，可<br/>減少進入廢物流的有毒元素的數量，這通常是必需或首選的處置方法。回收利用可節省垃圾填埋場的空間，<br/>節約我們的自然資源，並減少該州居民產生的電子廢物量。例如，據馬里蘭州稱，電子騎車每年可減少15萬<br/>噸以上的廢物。當地法規（州，縣或市）規定了處置物理筆記本電腦及其組件的正確方法。</span></pre>
<p><strong><span>If, instead of disposing of the entire laptop, you wish to sell the device, you should first remove your personal information from the laptop. The best way to do this is to perform a hard drive format using overwrite software. This is also known as a “secure erase,” where every portion of the hard disk is rewritten with a “0” in order to fully clear your personal data from the device. Then, if necessary, you can reinstall the operating system and sell the device.</span></strong></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">如果您想出售設備而不是丟棄整個筆記本電腦，則應首先從筆記本電腦中刪除個人信息。最好的方法是使用<br/>覆蓋軟件執行硬盤驅動器格式。這也稱為“安全擦除”，其中硬盤的每個部分都用“ 0”重寫，以便從設備中完<br/>全清除您的個人數據。然後，如有必要，您可以重新安裝操作系統並出售設備。</span></pre>
<h3><span>Security(安全)</span></h3>
<p><strong>Security cables are used to ensure that laptops are not physically removed from a particular area. Security cables are constructed much like a bicycle security lock, with a thick, carbon strengthened steel or metal cable that has a loop on one end and a lock on the other. The lock end has a T-shaped head that is inserted into the Kensington security slot on the computer (named after the first company to produce these locks). The locks are set using either a key or a combination-style lock. The other end, with the loop, can then be secured to a stationary device, like a pole or the desk itself. Often, these are installed by looping the lock end through the loop end, as it goes around a portion of the desk, securing the security lock to a location on the desk. Some security cables also have an audible alarm feature that alerts when someone tries to force the lock. Remember that these physical security measures only work when used properly. Tether a laptop to a strong, unbreakable, non-movable object.</strong></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span lang="zh-TW">安全電纜用於確保未從特定區域物理移除便攜式計算機。安全纜線的結構很像自行車安全鎖，由一根粗的，<br/>碳增強的鋼或金屬纜線組成，該纜線的一端有一個環，另一端有一個鎖。鎖端有一個T形頭，該頭插入計算<br/>機上的Kensington安全插槽（以生產這些鎖的第一家公司的名字命名）。可以使用鑰匙或組合鎖來設置鎖。<br/>然後可以將帶有環的另一端固定到固定裝置，例如桿子或桌子本身。通常，通過將鎖端繞在桌子的一部分周<br/>圍，將鎖端穿過環形端進行安裝，從而將安全鎖固定到桌子上的某個位置，從而進行安裝。一些安全電纜還<br/>具有聲音警報功能，當有人試圖強行鎖定時會發出警報。請記住，這些物理安全措施只有在正確使用後才能<br/>起作用。將筆記本電腦系在堅固，堅固，不可移動的物體上。<br/><span class="image"><img alt="Photograph of the side of a laptop. There is a cylindrical metal lock affixed to the side of the laptop with a cable protruding from the lock." class="popimg" id="_i_0" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH19/webcontent/PCH19/image8.png" title="Photograph of the side of a laptop. There is a cylindrical metal lock affixed to the side of the laptop with a cable protruding from the lock."/></span><span class="caption" lang=""></span></span></pre>
<p id="N10698" lang=""><strong>Kensington lock connected. Image used under CC-BY-SA from Wikimedia Commons.</strong></p>
<p lang=""><span>Kensington鎖已連接。來自Wikimedia Commons的CC-BY-SA使用的圖像</span></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span class="image"><img alt="Photograph of a security cable. The cable is wound around itself. It has a loop on one end and a metal cylindrical connector on the other end." class="popimg" id="_i_2" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH19/webcontent/PCH19/image9.png" title="Photograph of a security cable. The cable is wound around itself. It has a loop on one end and a metal cylindrical connector on the other end."/></span><span class="caption" lang=""></span></pre>
<p id="N106A5" lang=""><strong>Security cable. Photo used under CC-BY-SA license from Satoly.</strong></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">安全電纜。照片由Satoly根據CC-BY-SA許可使用。</span></pre>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span class="image"><img alt="Photograph of a laptop lock. It is a silver, cylindrical device protruding from the side of a laptop near where the screen and the keyboard join. The device has a combination feature with four numbers." class="popimg" id="_i_4" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH19/webcontent/PCH19/image10.png" title="Photograph of a laptop lock. It is a silver, cylindrical device protruding from the side of a laptop near where the screen and the keyboard join. The device has a combination feature with four numbers."/></span><span class="caption" lang=""></span></pre>
<p id="N106B1" lang=""><strong>Laptop lock. Photo used under CC-BY-SA license from Seth Werkheiser.</strong></p>
<p lang=""><span>筆記本電腦鎖。照片由Seth Werkheiser根據CC-BY-SA許可使用。</span></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"></pre>